.row {
    align-content: center;
    padding-left: 2em;
    width: 100%;
    justify-content: space-evenly;
}

.row-main {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.col-xs-12 {
    flex-basis: 100%;
  }

.col-md-6 {
    flex-basis: 50%;
}

.col-lg-4 {
    flex-basis: 33%;
}

.title {
    text-align: center;
    padding: 0.3em;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    min-width: max-content;
    min-height: max-content;
}

.button-row {
    width: 100%;
    padding: 0.1em;
    flex: auto;
    block-size: auto;
    display: inline-flex;
}

footer {
    padding-top: 1em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    justify-content: space-evenly;
}

/* buttons content */

.year {
    text-align: left;
}

.color-name {
    text-align: center;
    vertical-align: center;
}

.color-hex {
    text-align: center;
    vertical-align: center;
    padding-left: 7.3em;
    padding-right: 7.3em;
}

.pantone {
    text-align: right;
}