<section>
  <div class="row-main">
    <div class="col-xs-12">
      <h1 class="title">
        Colores
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color1</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color2</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color3</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color4</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color5</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color6</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color7</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color8</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="button-row">
        <button mat-raised-button color="primary">
          <h3 class="year">2006</h3>
          <h3 class="color-name">Color9</h3>
          <h2 class="color-hex">#DECDBE</h2>
          <h3 class="pantone">13-1106</h3>
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <footer class="col-xs-6 col-lg-6">
    <button prev class="btn btn-secundary pull-left">
      <h3>< Anterior</h3>
    </button>
    <button next style="float: right;" class="btn btn-secundary pull-right">
      <h3>Siguiente ></h3>
    </button>
  </footer>
</section>